/* Reset Border Box */
html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /* Base Styles */

  html,
  body,
  header {
      background-color: rgba(0,0,0);
  }

html,
body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    opacity: 0.9;
}



@media(min-width: 768px){
    html,
    body {
        font-size: 20px;  
    }
}

@media(min-width: 1024px){
    html,
    body {
        font-size: 22px;  
    }
}

html,
body,
a {
    color: seashell;
}

body {
    position: relative;
    top: 70px;
}


h2,
h4,
h5 {
    text-align: center;
}

.container {
    width: 95%;
}

.container,
.img-container {
    margin: 0 auto;
}
@media only screen and (min-width: 768px){
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 1024px){
    .container {
        max-width: 1200px;

    }
}

.dp-flex {
    display: flex;
}


  /* Header & Nav Styles*/
.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    border-bottom: 1px solid seashell;
    z-index: 10;
}

.nav-container{
    padding: 10px;
}



.brand img {
   height: 50px;
 
}


.nav-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
}

.nav-list {
    display: none;

}

nav {
    width: 100%;
    padding:  0 15px;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    text-align: center;
}

#nav-toggle{
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: seashell;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}    

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

@media only screen and (min-width: 768px){
    .main-header {
        min-height: 69px;
    }

    .nav-list{
        display: block;
        float : right;
        margin-top: -15px;
    }
    .brand,
    .nav-list li {
        float: left;
    }

    #nav-toggle{
        display: none;
    }
}


   /* Mission Section*/

   #mission {
       background-image: url("../../resources/images/img-mission-background.jpg");
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       min-height: 31.8181818rem;
       position: relative;
       top: 50%;
   }

  

   #mission .caption{
       background-color: #000;
       position: absolute;
       width: 100%;
       top: 40%;
   }
    
   .caption h4 {
       margin-top: 10px;
       margin-bottom: 10px;
       line-height: 1.5;
   }

   .caption h2 {
       margin-top: 10px;
       margin-bottom:0;
   }

/* featured Section*/

.img-container,
.img-container  li {
    flex-direction: column;
    align-items:center;
}


.img-container {
    width: 80%;
    overflow: hidden;
    flex-wrap: wrap;
}

.img-container img {
    max-width: 100%;
    height: auto;
    display: block;
    
}

img + p {
    margin-top: 10px;
}


@media(min-width: 768px){
    .img-container {
        max-width: 1000px;
        flex-direction: row; 
        justify-content: space-evenly;
    }  

    .img-container img {
        width: 300px;
        height: 200px;
    }  
}





   

/* location Section*/

#locations {
    background-image: url("../../resources/images/img-locations-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 22.73rem;
}

#locations h2 {
    padding-top: 80px;
    margin-bottom: 15px;
}

#locations ul {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

#locations ul li {
    background-color:#000;
    text-align: center;
    width: 50%;
    line-height: 2;
    margin-bottom: 30px;
}

#locations ul li + #locations ul li {
    margin-right: 20px;
}

@media(min-width: 1200px){
    #locations ul{
        margin-top: 15px;
        flex-direction: row;
        justify-content:center;
    }
    #locations ul li {
        margin-left: 40px;
       width: 300px; 
    }

}

/* contact section*/

#contact {
    min-height: 10rem;
}

#contact h2 {
    margin-top: 15px;
}

/* footer*/
footer h5 {
    text-align: left;
    margin-left: 20px;
    padding-bottom: 20px;
}

